<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
    <system.webServer>
	
		<rewrite>
			<rules>
			
			
				<rule name="httpokul" stopProcessing="true">
					<match url="http://www.okul.pwc.com.tr" />
					<action type="Redirect" url="https://www.okul.pwc.com.tr" />
				</rule>
				<!--
				<rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
					<match url="(.*)" /> 
					<conditions> 
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions> 
					<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
				</rule>   -->
				<rule name="Redirect to WWW HTTPS" stopProcessing="true">
				  <match url=".*" />
				  <conditions>
					<add input="{HTTP_HOST}" pattern="^okul.pwc.com.tr$" />
				  </conditions>
				  <action type="Redirect" url="https://www.okul.pwc.com.tr/{R:0}" redirectType="Permanent" />
				</rule>
				
				<rule name="Redirect to root" patternSyntax="Wildcard" stopProcessing="true">
				<match url="index.php" />
				<action type="Redirect" url="/" appendQueryString="false" redirectType="Permanent" />
				</rule>
				<rule name="301RedirectEgitim" stopProcessing="true">
					<match url="^egitimlerimiz.php" />
					<action type="Redirect" url="https://www.okul.pwc.com.tr/egitimlerimiz" />
				</rule>
				
				
				
				
				<rule name="AccessRewrite" stopProcessing="true">
					<match url=".*" />
					<conditions>
					  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/_access.php" />
				</rule>
				
				
			</rules>
            <outboundRules>
                <rule name="Remove Server">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
			<!--<rewriteMaps>
				<rewriteMap name="MapProtocol">
				  <add key="on" value="https" />
				  <add key="off" value="http" />
				</rewriteMap>
			</rewriteMaps>-->
		</rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://www.okul.pwc.com.tr/404.php" responseMode="Redirect" />
        </httpErrors>
		 
   <httpProtocol>
       <customHeaders>
                <remove name="X-Powered-By" />
           <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
           <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
           <add name="Access-Control-Allow-Credentials" value="true" />
                <add name="Content-Security-Policy" value="&quot;default-src 'self';&quot;" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Content-Type-Options" value="nosniff" />
       </customHeaders>
</httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
		
    </system.webServer>
	
</configuration>
